@use "../../base/function/__importer" as f;

.l-btn {
    position: relative;
    display: grid;
    place-items: center;
    place-content: center;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 4.9%;
        height: 3px;
    }
}