@use "../../base/function/__importer" as f;

.l-news {
    &_inner {
        max-width: 820px;
        margin: 40px auto;
    }
    
    &_table {
        display: flex;
    }
    
    &__btn {
        margin: 35px auto 0;
        width: 380px;
        height: 56px;
    }
}