// **
// * line-height
// * @param {Interger} $xd XDに表示されているline-height
// * @param {Interger} $font-size フォントサイズ
// * @param {Interger} $capital-letter デフォルトline-height
// ************************************************
@mixin lh($xd, $font-size, $capital-letter: 1) {
	$lh: calc($xd / $font-size);
	line-height: $lh;
	&::before {
		content: "";
		display: block;
		height: 0;
		width: 0;
		margin-top: calc((#{$capital-letter} - #{$lh}) * 0.5em);
	}
	&::after {
		content: "";
		display: block;
		height: 0;
		width: 0;
		margin-top: calc((#{$capital-letter} - #{$lh}) * 0.5em);
	}
}

// **
// * XDのline-heightの計算
// * @param {Interger} $xd XDに表示されているline-height
// * @param {Interger} $font-size フォントサイズ
// * @return {Interger} line-heightの値
// ************************************************
@function lh-only($xd, $font-size) {
	@return calc($xd / $font-size);
}
